@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: 'Inconsolata';
}

div.title {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

div.table {
    padding: 0 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

div#table-title {
    margin: 0 10px;
}

div.log-row,
div#table-title {
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

div.log-row:not(:last-child) {
    border-bottom: 1px solid #dddddd;
}

div.log-row div,
div.table-title-cell {
    display: inline-block;
}